<form class="ui form">
  <div class="field required">
    <label>Category</label>
    {{power-select-dropdown
      searchEnabled=true
      isRemoteSearch=true
      searchField='name'
      optionLabel='name'
      renderInPlace=true
      selectedOption=model.organization
      placeHolder="Select Organization"
      modelName="organization"
    }}
  </div>
  <div class="two fields">
    <div class="field required">
      <label>Name</label>
      {{input value=model.name}}
    </div>
    <div class="field required">
      <label>Display name</label>
      {{input value=model.display_name}}
    </div>
  </div>
  <div class="field required">
    {{ui-checkbox class="toggle" label="Has Sub Category?" checked=model.hasSubCategory onChange=(action (mut model.hasSubCategory))}}
  </div>
  <div class="two fields">
    <div class="field">
      <label>Sort Order (Number only. Like - 1 for hair cut. It will be display in the 1st position</label>
      {{input type="number" value=model.sort_order}}
    </div>
    {{#if model.hasSubCategory}}
      <div class="field required">
        <label>Enter Sub Categories (coma(,) separated)</label>
        {{input value=subCategory}}
      </div>
    {{/if}}
  </div>
  <div class="field required">
    <label>Logo URL</label>
    {{input value=model.image_source}}
  </div>
  {{#if model.image_source}}
    <div class="field" style="padding: 10px; text-align-center">
      <img src={{model.image_source}} style="width: 40px; height: 40px">
    </div>
  {{/if}}
  <div class="field" style="text-align: center;">
    {{#if (eq type "update")}}
      <button class="ui positive button" {{action 'update' model}}>Update</button>
      <button class="ui negative button" {{action 'delete' model}}>Delete</button>
    {{else if (eq type "create")}}
      <button class="ui positive button" {{action 'save' model}}>Save</button>
    {{/if}}
      <button class="ui button" {{action 'back'}}>Cancel</button>
  </div>
  {{!-- {{#if (eq type "create")}}
  <hr />
  <form class="ui form">
    <div class="field">
      <label>Insert in bulk</label>
      {{textarea value=categoryJson placeholder="Only JSON"}}
    </div>
    <button class="ui positive button" {{action 'upload' categoryJson}}>Upload</button>
  </form>
  {{/if}} --}}
    {{!-- <button class="ui positive button" {{action 'addAll' categoryJson}}>add all</button> --}}
</form>
{{yield}}