<form class="ui form">
  <div class="field required">
    <label>Organization</label>
    {{power-select-dropdown
      searchEnabled=true
      isRemoteSearch=true
      searchField='name'
      optionLabel='name'
      renderInPlace=true
      selectedOption=model.organization
      placeHolder="Select Organization"
      modelName="organization"
    }}
  </div>
  <div class="field required">
    <label>Name</label>
    {{input value=model.name}}
  </div>
  {{#if model.organization}}
    <div class="two fields">
      <div class="field required">
        <label>Category</label>
        {{power-select-dropdown
          searchEnabled=true
          isRemoteSearch=true
          searchField='name'
          optionLabel='name'
          renderInPlace=true
          organization_id=model.organization.id
          selectedOption=model.category
          placeHolder="Select Category"
          modelName="category"
        }}
      </div>
      {{#if (and model.category model.category.hasSubCategory)}}
        <div class="field required">
          <label>Sub Category</label>
          {{power-select-dropdown
            searchEnabled=true
            listSource=model.category.sub_categories
            searchField='name'
            optionLabel='name'
            renderInPlace=true
            selectedOption=model.sub_category
            placeHolder="Select Sub Category"
          }}
        </div>
      {{/if}}
    </div>
  {{/if}}
  <div class="field">
    <label>Description</label>
    {{input value=model.description}}
  </div>
  <div class="two fields">
    <div class="field required">
      <label>Price</label>
      {{input type="number" value=model.price}}
    </div>
    <div class="field">
      <label>MRP Price</label>
      {{input type="number" value=model.mrp_price}}
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Duration (enter minutes only)</label>
      {{input type="number" value=model.duration}}
    </div>
    <div class="field">
      <label>Sort Order (Number only. Like - 1 for hair cut. It will be display in the 1st position</label>
      {{input type="number" value=model.sort_order}}
    </div>
  </div>
  {{#if model.organization}}
    <div class="field required">
      <label>Image URL</label>
      {{upload-image uploadComplete=(action 'uploadComplete') organization=model.organization}}
    </div>
    {{#if model.image_source}}
      <div class="field" style="padding: 10px; text-align: center">
        <img src={{model.image_source}} style="width: 140px; height: 170px">
      </div>
    {{/if}}
  {{/if}}
  <div class="field" style="text-align: center;">
    {{#if (eq type "update")}}
      <button class="ui positive button" {{action 'update' model}}>Update</button>
      <button class="ui negative button" {{action 'delete' model}}>Delete</button>
    {{else if (eq type "create")}}
      <button class="ui positive button" {{action 'save' model}}>Save</button>
    {{/if}}
      <button class="ui button" {{action 'back'}}>Cancel</button>
  </div>
</form>
<hr/>
{{!-- <form class="ui form">
  <div class="field">
    <label>Insert in bulk</label>
    {{textarea value=categoryJson placeholder="Only JSON"}}
  </div>
  <button class="ui positive button" {{action 'upload' categoryJson}}>Upload</button>
</form> --}}
  {{!-- <button class="ui positive button" {{action 'addAll'}}>add all</button> --}}
{{yield}}