<table class="ui red table">
  <thead>
    <tr>
      {{#if (eq type 'category')}}
        <th>Logo</th>
      {{/if}}
      {{#each columns as |column|}}
        <th style="width: {{column.width}};">{{column.name}}</th>
      {{/each}}
    </tr>
  </thead>
  {{#if model.length}}
    <tbody>
      {{#each model as |data|}}
        {{#link-to (concat type '.edit') data.id tagName="tr"}}
          {{#each columns as |column index|}}
            {{#if (and (eq type 'category') (eq index 0))}}
              <td>
                <img src="{{data.image_source}}" style="width: 30px;  height: 30px">
              </td>
            {{/if}}
            {{#if (eq column.name "Category")}}
              {{#if data.category.isFulfilled}}
                <td>{{get-property data column.key}}</td>
              {{else}}
                <td>Loading...</td>
              {{/if}}
            {{else if (eq column.name "Organization")}}
              {{#if data.organization.isFulfilled}}
                <td>{{get-property data column.key}}</td>
              {{else}}
                <td>Loading...</td>
              {{/if}}
            {{else if (and (eq modelName 'package') (eq column.name "Items"))}}
              {{#if data.organization.isFulfilled}}
                <td>
                  <ol style="padding-left: 13px;">
                    {{#each (get-property data column.key) as |item|}}
                      <li>{{get-property item 'name'}}</li>
                    {{/each}}
                  </ol>
                </td>
              {{/if}}
            {{else}}
              <td>{{get-property data column.key}}</td>
            {{/if}}
          {{/each}}
        {{/link-to}}
      {{/each}}
    </tbody>
  {{else if isLoading}}
    <div style="height: calc(100vh - 100px); text-align: center; width: 100%">
      Loading...
    </div>
  {{else}}
    <div style="height: calc(100vh - 100px);text-align: center; width: 100%">
      No data found
    </div>
  {{/if}}
</table>
{{yield}}