<div class="ui form" style="height: calc(100vh - 150px); overflow-y: auto; overflow-x: hidden">
  <div class="three fields">
    <div class="field">
      <label>Customer Name:</label>
      <div class="item">{{model.user.name}}</div>
    </div>
    <div class="field">
      <label>Phone:</label>
      <div class="item">{{model.user.phone}}</div>
    </div>
    <div class="field">
      <label>Alternate Phone:</label>
      {{#if model.user.alt_phone}}
        <div class="item">{{model.user.alt_phone}}</div>
      {{else}}
        <div class="item">Not Avialable</div>
      {{/if}}
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Items:</label>
      <div class="items">
        {{#each model.cartItems as |cartItem|}}
          <ol>
            {{#if cartItem.is_package}}
              <li>Package: {{cartItem.package.name}} - {{cartItem.quantity}}(quantity)</li>
            {{else}}
              <li>{{cartItem.item.name}} - {{cartItem.quantity}}(quantity)</li>
            {{/if}}
          </ol>
        {{/each}}
      </div>
    </div>
    <div class="field">
      <label>Price:</label>
      <div class="item">{{model.order_total}}</div>
    </div>
    <div class="field">
      <label>Total Paid:</label>
      {{#if (and (eq model.status 5) model.hasDirtyAttributes)}}
        {{input type="number" value=model.total_paid}}
      {{else}}
        <div class="item">{{model.total_paid}}</div>
      {{/if}}
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Scpecial Instruction:</label>
      {{#if model.special_instruction}}
        <div class="item">{{model.special_instruction}}</div>
      {{else}}
        <div class="item">Not provided</div>
      {{/if}}
    </div>
    <div class="field">
      <label>Preferred Instruction:</label>
      {{#if model.preferred_beautician}}
        <div class="item">{{model.preferred_beautician}}</div>
      {{else}}
        <div class="item">Not provided</div>
      {{/if}}
    </div>
  </div>
  <div class="field">
    <label>Address:</label>
    {{#if model.address.address.place_url}}
      <a class="item" href={{model.address.address.place_url}} target="blank">
        {{model.address.formatedAddress}} {{model.address.address.localAddress}} {{model.address.address.landMark}}
      </a>
    {{else}}
      <div class="item">
        {{model.address.formatedAddress}} {{model.address.address.localAddress}} {{model.address.address.landMark}}
      </div>
    {{/if}}
  </div>
  <div class="two fields">
    <div class="field">
      <label>Selected Appointmnet Slot:</label>
      <div class="item">
        <p>From: {{moment-format model.appointment.from "hh:mm A, DD/MM/YYYY"}}</p>
        <p>To: {{moment-format model.appointment.to "hh:mm A, DD/MM/YYYY"}}</p>
      </div>
    </div>
    <div class="field">
      <label>Appointment Status:</label>
      <div class="item" style="color: {{model.formatedStatus.color}};">{{model.formatedStatus.name}}</div>
    </div>
  </div>
  {{#if (or (eq model.status 1) (eq model.status 2) (eq model.status 4) (and (eq model.status 3) model.hasDirtyAttributes) (and (eq model.status 5) model.hasDirtyAttributes))}}
    <div class="two fields">
      <div class="field">
        <label>Assign Beautician:</label>
        <div class="item">
          {{input value=model.assigned_beautician}}
        </div>
      </div>
      <div class="field">
        <label>Confirm Slot:</label>
        <div class="item">
          <p>From: {{ui-calendar minDate=minDate date=model.confirm_from onChange=(action (mut model.confirm_from)) placeholder="Select date and time"}}</p>
          <p>To: {{ui-calendar minDate=minDate date=model.confirm_to onChange=(action (mut model.confirm_to)) placeholder="Select date and time"}}</p>
        </div>
      </div>
    </div>
    <div class="field required">
      <label>Change Status:</label>
    </div>
    <div class="ui stackable grid">
      <div class="row" style="padding-top: 10px !important">
        <div class="column" style="min-width: 109px; padding-right: 0 !important; padding-top: 0 !important; padding-bottom: 5px !important; text-align: center">
          <button class="ui green button {{unless enableConfirm 'disabled'}}" {{action 'changeStatus' 2}}>Confirm</button>
        </div>
        <div class="column" style="min-width: 137px; padding-right: 0 !important; padding-top: 0 !important; padding-bottom: 5px !important; text-align: center">
          <button class="ui blue button {{unless enableInProgress 'disabled'}}" {{action 'changeStatus' 4}}>In Progress</button>
        </div>
        <div class="column" style="min-width: 99px; padding-right: 0 !important; padding-top: 0 !important; padding-bottom: 5px !important; text-align: center">
          <button class="ui red button {{unless enableCancel 'disabled'}}" {{action 'changeStatus' 3}}>Cancel</button>
        </div>
        <div class="column" style="min-width: 215px; padding-right: 0 !important; padding-top: 0 !important; padding-bottom: 5px !important; text-align: center">
          <button class="ui blue button {{unless enableComplete 'disabled'}}" {{action 'changeStatus' 5}}>Appointment Complete</button>
        </div>
      </div>
    </div>
    <div class="field" style="text-align: center; margin-top: 20px">
      <div class="ui green button" {{action 'save'}}>Save</div>
      <div class="ui button" {{action 'back'}}>Cancel</div>
    </div>
  {{/if}}
  {{#if (and (or (eq model.status 3) (eq model.status 5)) (not model.hasDirtyAttributes))}}
    <div class="two fields">
      <div class="field">
        <label>Assign Beautician:</label>
        <div class="item">
          {{#if model.assigned_beautician}}
            {{model.assigned_beautician}}
          {{else}}
            Not Provided
          {{/if}}
        </div>
      </div>
      <div class="field">
        <label>Confirm Slot:</label>
        <div class="item">
          <p>From: {{moment-format model.confirm_from "hh:mm A, DD/MM/YYYY"}}</p>
          <p>To: {{moment-format model.model.confirm_to "hh:mm A, DD/MM/YYYY"}}</p>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{yield}}
