<form class="ui form">
  <div class="field required">
    <label>Organization</label>
    {{power-select-dropdown
      searchEnabled=true
      isRemoteSearch=true
      searchField='name'
      optionLabel='name'
      renderInPlace=true
      selectedOption=model.organization
      placeHolder="Select Organization"
      modelName="organization"
    }}
  </div>
  <div class="two fields">
    <div class="field required">
      <label>Name</label>
      {{input value=model.name}}
    </div>
    <div class="field">
      <label>Description</label>
      {{input value=model.description}}
    </div>
  </div>
  <div class="two fields">
    {{#if model.organization}}
      <div class="field required">
        <label>Items</label>
        {{power-select-dropdown
          searchEnabled=true
          isRemoteSearch=true
          searchField='name'
          optionLabel='name'
          renderInPlace=true
          customAction=(action 'addItem')
          isCustomAction=true
          organization_id=model.organization.id
          placeHolder="Select Items"
          modelName="item"
        }}
        {{#if model.items.length}}
          <ol>
          {{#each model.items as |item|}}
            <li>
              {{item.name}} 
              <span {{action 'removePackageItem' item}} style="cursor: pointer; padding: 5px">x</span>
            </li>
          {{/each}}
          </ol>
        {{/if}}
      </div>
    {{/if}}
    <div class="field required">
      <label>Background Color</label>
      <div class="item">
        {{input value=model.background_color}}
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field required">
      <label>Price</label>
      {{input type="number" value=model.price}}
    </div>
    <div class="field required">
      <label>MRP Price</label>
      {{input type="number" value=model.mrp_price}}
    </div>
  </div>
  {{#if model.organization}}
    <div class="field required">
      <label>Upload Poster Image</label>
      {{upload-image uploadComplete=(action 'posterUploadComplete') organization=model.organization}}
    </div>
    {{#each model.items as |item|}}
      <div class="field required">
        <label>{{item.name}}'s Image</label>
        {{upload-image uploadComplete=(action 'itemUploadComplete' item) organization=model.organization}}
      </div>
    {{/each}}
    {{#if (or model.poster_image_source model.background_image_source)}}
      <div class="two fields">
        {{#if model.poster_image_source}}
          <div class="field" style="padding: 10px; text-align: center;">
            <label>Poster Image</label>
            <img src={{model.poster_image_source}} style="width: 460px; height: 259px">
          </div>
        {{/if}}
        {{#each model.items as |item|}}
          {{#if item.image_source}}
            <div class="field" style="padding: 10px; text-align: center;">
              <label>{{item.name}}'s Image</label>
              <img src={{item.image_source}} style="width: 360px; height: 360px">
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
  <div class="field" style="text-align: center;">
    {{#if (eq type "update")}}
      <button class="ui positive button" {{action 'update' model}}>Update</button>
      <button class="ui negative button" {{action 'delete' model}}>Delete</button>
    {{else if (eq type "create")}}
      <button class="ui positive button" {{action 'save' model}}>Save</button>
    {{/if}}
      <button class="ui button" {{action 'back'}}>Cancel</button>
  </div>
</form>
<hr/>
{{yield}}